.blackBar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-size: 14px;
  z-index: 10;
}

.innerContent {
  display: flex;
  justify-content: flex-end;
  width: 36rem; /* Same as layout width */
  padding: 0 1rem;
}
