.tech {
  overflow: hidden;
  max-width: 128px;
  max-height: 128px;
  position: relative;
}

.tech .description {
  font-size: 12px;
  padding: 0.5em;
  /* color: white; */
  transform: scale(0);
  /* background-color: black; */
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
}
.tech:hover .description {
  transform: translateX(0);
}

.tech .icon {
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
}
.tech:hover .icon {
  transform: translateX(-100%);
}
